#contenedor {
    margin-left: 22%;
    position: absolute;
    width: 75%;
}

#contenedor footer {
    text-align: center;
}

#enviar {
    margin-left: 10px;
}

#foto {
    float: right;
    height: 150px;
    margin-right: 15px;
    margin-top: 10px;
    width: 120px;
}

#h2contacto {
    color: #2b0615;
    text-align: center;
}

#menu li {
    background-color: #a4b161;
    border-radius: 15px;
    list-style: none;
    margin-left: -20px;
    margin-right: 20%;
    margin-top: 5px;
    text-align: center;
}

#menu li > a {
    display: block;
    padding: 5px;
    text-decoration: none;
}

#menu li > a[href="#"] {
    background-color: #697640;
    border-radius: inherit;
}

#menu li:hover, #menu li > a[href="#"]:hover {
    background-color: #b6cb6d;
}

#menu li > a:visited {
    color: inherit;
}

.campo {
    font-weight: 600;
}

.descripcion:nth-child(2) {
    margin-top: -15px;
}

.logro {
    font-size: 16px;
    font-weight: 600;
}

.seccioncv {
    color: rgb(43, 6, 21);
    font-size: 18px;
    font-weight: 600;
    min-width: 180px;
    padding-top: 10px;
    vertical-align: top;
}

.vacia {
    width: 30px;
}

article {
    background-color: bisque;
	padding:30px;
}

aside {
    border-left: 10px solid #2b0615;
	float: left;
    width: 20%;
}

body {
    background-color: #fcf0f5;
}

fieldset, form legend {
    border: 2px solid #2b0615;
    font-size: 18px;
}

footer {
    background-color: #2b0615;
    color: lightgray;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 10px;
}

footer a:link {
    color: #8c8c8c;
}

footer a:visited {
    color: #4B4B4B;
}

header {
    background-color: #2b0615;
    padding: 2px;
    text-align: center;
    width: 100%;
}

header h1 {
    color: lightgray;
}

header h3 {
    color: lightgray;
    font-style: italic;
}

hr {
    border: 1px solid #2b0615;
    margin: 25px;
}

nav, section {
    background-color: #8ab688;
	padding: 10px;
}

table {
    border-spacing: 10px;
}
